.dashboard-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  min-width: 200vh;
  background-color: #f3f4f6;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  border-bottom: 1px solid #e5e7eb;
  background-color: #ffffff;
}

.dashboard-header h1 {
  font-size: 22px;
  margin: 0;
}

.dashboard-header p {
  margin: 4px 0 0;
  color: #4b5563;
}

.btn-logout {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background: #ef4444;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
}

.btn-logout:hover {
  opacity: 0.9;
}

.dashboard-main {
  flex: 1;
  padding: 24px 32px;
  width: 100%;
}

.modules h2 {
  font-size: 18px;
  margin-bottom: 12px;
}

.modules1 h2 {
  font-size: 18px;
  margin-bottom: 12px;
}

.modules-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  justify-content: center;
  gap: 20px;
  margin-left: 400px;
  margin-top: 90px;
}

.modules1-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-left: 400px;
  margin-top: 20px;
}

.module-card {
  background-color: #ffffff;
  border-radius: 12px;
  padding: 16px 20px;
  box-shadow: 0 10px 30px rgba(15, 23, 42, 0.06);
  border: 1px solid #e5e7eb;
  text-align: center;
  height: 30vh;
  width: 50vh;
}


.module-icon {
  font-size: 38px;
  margin-bottom: 8px;
}

.module-card h3 {
  margin: 8px 0 4px;
  font-size: 23px;
}

.module-card p {
  font-size: 20px;
  color: #6b7280;
  margin-bottom: 12px;
}

.btn-module {
  padding: 6px 12px;
  border-radius: 6px;
  border: none;
  background: #2563eb;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}

.btn-module:hover {
  opacity: 0.9;
}

/* .allmodule{
  margin-top: 80px;
} */